.app__laurels_awards {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.app__laurels_awards-card {
  margin: 1rem;
  flex: 1;
  min-width: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.app__laurels_awards-card img {
  width: 79px;
}

.app__laurels_awards-card_content {
  margin-left: 1rem;
}
